<!DOCTYPE HTML>
<html>
<head>
    <title>스프링부트 웹서비스</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <!-- HTML 은 위에서 부터 아래로 코드를 읽으며 화면을 렌더링 한다.
       head 가 다 불러지지 않으면 사용자 쪽에선 백지 화면만 노출되는데,
       특히 js 의 용량이 크면 클수록 body 부분의 실행이 늦어지기 때문에
       js는 footer 에 css 는 header 에 두는 것이 좋다-->
</head>
<body>